body{
    margin: 0px;
}
header{padding: 15px;}
.container{
    width: 1800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    flex-basis: 15%;
    max-width: 15%;
}
.logo img{
    width: 105px;
}
nav{
    flex-basis: 85%;
    max-width: 85%;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    display: block;
}
section{
	padding-top: 300px;
	padding-bottom: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: top;
}
.section-one{
	background-image: url(../images/portfolio-item57.jpg);
	
}
.section-two{
	background-image: url(../images/portfolio-item58.jpg);
}
.section-three{
	background-image: url(../images/portfolio-item59.jpg);
}
.section-four{
	background-image: url(../images/portfolio-item60.jpg);
}
.section-five{
	background-image: url(../images/portfolio-item61.jpg);
}
.section-six{
	background-image: url(../images/portfolio-item62.jpg);
}

h1{
    font-size: 80px;
    color: white;
    background: #0000007a;
    margin: auto;
    max-width: 750px;
    padding: 15px 0;
    text-align: center;
}
footer{
    padding: 45px 0;
}
.container-footer{
    width: 1800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-logo{
    flex-basis: 34%;
    max-width: 34%;
}
.copyright{
    flex-basis: 33%;
    max-width: 33%;
}
.copyright p{
    text-align: center;
    font-size: 14px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.social{flex-basis: 33%;max-width: 33%;}
.social ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.social ul li{padding: 0 15px;display: block;}
.social ul li a{}
.social ul li a img{
    width: 18px;
}